set timeout=15
set default=0

insmod all_video
insmod vbe
insmod vga
set gfxmode=auto
set gfxpayload=keep

menuentry "Circular OS" {
    multiboot2 /boot/circular.elf
    boot
}

menuentry "Circular OS [text]" {
    terminal_input console
    terminal_output console
    set gfxpayload=text
    multiboot2 /boot/circular.elf
    boot
}
